<div class="d-flex h-100">
  <div class="m-auto question-form">
    <h2>
      Edit question
    </h2>
    <div class="question-form question-form__field">
      <label>
        Title
      </label>
      <Input @type="text" @value={{this.title}}></Input>
    </div>
    <div class="question-form question-form__field">
      <label>
        Description
      </label>
      <Textarea @value={{this.description}} rows="6" cols="50"></Textarea>
      <div class="question-form question-form__field">
        <label>
          Tags (separated by comma)
        </label>
        <Input @type="text" @value={{this.tags}}></Input>
      </div>
    </div>
    <div class="buttons-edit">
      <button
        class="btn-question btn-blue"
        type="button"
        {{on "click" (fn this.update @model)}}
      >
        Save question
      </button>
      <button
        class="btn-question btn-blue"
        type="button"
        {{on "click" (fn this.fill @model)}}
      >
        Fill Question
      </button>
    </div>
  </div>
</div>
